<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>PIXIV@robot</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<form method="post" id="login" class="login">
		<div class="login-logo">
		</div>
		<div class="login-input">
			<input type="text" name="weburl" value="" placeholder="单页网址(二选一)">
			<input type="text" name="author" value="" placeholder="作者ID(二选一)">
			<input type="text" name="proxy" value="" placeholder="代理地址">
			<input type="text" name="waittime" value="3000" placeholder="下载时间间隔" disabled="disabled">
			<input type="text" name="path" value="download/" placeholder="文件存放地址" disabled="disabled">
		</div>
		<div class="login-btn">
			<input id="login-btn" type="submit" value="搜索">
			<input type="reset" value="重置">
		</div>
	</form>
	<div id="bg" class="background">
	</div>
</body>
</html>