body,input{margin:0;padding:0;font:14px Helvetica,"Microsoft YaHei","微软雅黑",arial,simsun;letter-spacing:1px;}
input{outline:none;border:none;}
.login{position:absolute;top:15%;width:100%;height:400px;text-align: center;}
.login-logo{background:url(../images/logo_fff1.png) center no-repeat;width:500px;height:150px;margin:0 auto;}
.login-input{width:500px;height:250px;margin:0 auto;}
.login-input input{width:100%;height:50px;font-size:15px;color:#888;text-indent:50px;box-shadow:0 0 1px rgba(0,0,0,0.2) inset;}
.login-btn{width:500px;height:50px;margin:10px auto;}
.login-btn input{width:250px;height:50px;}
.login-input input[name="user"]{background:white url(../images/user.png) 20px center no-repeat;}
.login-input input[name="pass"]{background:white url(../images/key.png) 20px center no-repeat;}
.login-btn input[type="submit"]{color:white;background-color:#2a6;float:left;}
.login-btn input[type="submit"]:hover{color:#2b6;background-color:white;}
.login-btn input[type="reset"]{color:#888;background-color: #fff;float:right;}
.background{position:absolute;width:100%;height:100%;z-index: -1;background-image: -webkit-radial-gradient(circle,#46c463 0%,#2db861 100%);background-image: radial-gradient(circle,#46c463 0%,#2db861 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c463', endColorstr='#2db861',GradientType=0 );}